@import "tailwindcss";

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body.theme-light {
  color-scheme: light;
}

body.theme-dark {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

#root {
  min-height: 100vh;
}